@import "tailwindcss";
/*variables*/
:root {
  --background-color: #f1f1f1;
  --foreground-color: #1B1A17;

  --fs-h1: clamp(4rem, 3rem + 2vw, 6rem);       /* 64 → 96px */
  --fs-h2: clamp(2.25rem, 1.25rem + 2vw, 3.5rem); /* 36 → 56px */
  --fs-h3: clamp(1.75rem, 1rem + 1.5vw, 2.5rem);  /* 28 → 40px */
  --fs-body: clamp(1.5rem, 1rem + 1vw, 2rem);     /* 24 → 32px */
  --fs-small: clamp(1.125rem, 1rem + 0.25vw, 1.25rem); /* 18 → 20px */

  --lh-snug: 120%;
  --lh-relaxed: 130%;
  --lh-loose: 150%;
}

@theme inline {
  --color-background: var(--background-color);
  --color-foreground: var(--foreground-color);
  --font-caviar: var(--font-caviar);
  --font-poppins: var(--font-poppins)
}

.btn-hover {
  @apply hover:cursor-pointer
}

.background-texture {
  @apply bg-no-repeat bg-cover bg-fixed bg-center bg-[url('/bg/Bg-Texture.svg')]
}

.responsive-margin {
  @apply mx-5 md:mx-6 lg:mx-16
}

/*styling*/
h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-snug);
  font-weight: bold;
}

h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-snug);
  font-weight: bold;
}

h3 {
  font-size: var(--fs-h3);
  line-height: var(--lh-relaxed);
}

p {
  font-size: var(--fs-body);
  line-height: var(--lh-loose);
  font-weight: lighter;
}

small {
  font-size: var(--fs-small);
  line-height: var(--lh-loose);
}

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/